body {
    background: linear-gradient(to right, rgba(76, 0, 153,.5), rgba(102, 178, 255,.5)), url("clouds.png");
    background-size:cover;
    
}
background {
    height:100%;
}

h2{
    font-size: 60px;
    float:left;
    font-family: Palatino Linotype;
    color:white;
    text-shadow: 4px 4px #000000;
    transition: transform 2s;
   
}
p{
    border-style: groove;
    border-color:#d580ff;
    border-width: thick;
    display: inline;
}

#pointless {
    margin-top:150px;
    position:absolute;  
}

#circle {
    background-color:#c06;
    height:50px;
    width:50px;
    box-shadow: 1px 2px #000;
    border-radius:60px;
    position:absolute;
    margin-top:50px;
    margin-left:270px;
}
#lefteye {
    position:absolute;
    background-color:#ffffff;
    height:35px;
    width:30px;
    box-shadow: 1px 2px #000;
    border-radius:60px;
    margin-top:14px;
    margin-left:10px;
}
#righteye {
    position:absolute;
    background-color:#ffffff;
    height:35px;
    width:30px;
    box-shadow: 1px 2px #000;
    border-radius:60px;
    margin-top:14px;
    margin-left:40px;
}
#pupil1 {
    position:absolute;
    background-color:#000;
    height:20px;
    width:20px;
    border-radius:60px;
    margin-top:20px;
    margin-left:15px;
}
#pupil2 {
    position:absolute;
    background-color:#000;
    height:20px;
    width:20px;
    border-radius:60px;
    margin-top:20px;
    margin-left:45px;
}
#mouth {
       position:absolute;
        border-radius:60px;
    background-color:#000;
    height:10px;
    width:10px;
    margin-top:55px;
    margin-left:32px;
}



.images {
   float:left; 
  
}

.pic {
   display:inline-block; 
   margin-right:5px;
   margin-top:40px;
   clear:both;
   box-shadow: 2px .5px #000;
   transition: transform 2s;
   border:20px solid transparent;
   border-image: url(clouds.png) 30;
   
}

.pic:hover {
   
    transform: rotate(360deg);
   

}
.smiley {
     animation: jump 2s infinite;
     position:relative;
   
   
}


@keyframes jump {
    0%   {left:0px; top:0px;}
    50%  {left:0px; top:50px;}
    100% {left:0px; top:0px;}
}
   


h2:hover{
    transform: rotate(180deg);
}



